/* Los estilos de tu proyecto */

/* Para la versión móvil */

/* Header */
/* Sobreescribiendo esta clase para que el color de fondo no sea el #f8f8f8 sino el blanco(#fff)*/
.navbar-default {
  background-color: #fff;
  /* border: none; */
}
/* Sobreescribiendo la propiedad float del button que contiene mi ícono de las barras */
.navbar-toggle {
    float: left;
}
.padding{
    padding-top: 2.3em;
    padding-bottom: 4.3em;
    padding-left: 3.3em;
}

/* Primera sección */
.first-section {
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
}

/* Color para los divs de las secciones*/
.gold {
  background-color: #ffbf00;
}

.laboratoria-color {
  background-color: #ffc107;
}

.flex-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-box-item {
  width: 80%;
  height: 33%;
}

.white {
  color: #fff;
}

 h1 {
  /* margin-top: 28px;
  margin-bottom: 28px;  */
    margin-left: 0.8em;
}

.logo {
  width: 20%;
}

/* Botón de la Primera Sección */

.btn {
  font-weight: 700;
  border: none;
}

.margin-btn {
  margin-left: 1.65em;
}

/* @media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5em;
    margin-top: 0.3em;
  } */
}
