/* Los estilos de tu proyecto */

/* Clases reutilizables*/

.zero-padding {
  padding-right: 0;
  padding-left: 0;
}

/* Colores para los elementos de las secciones*/

.gold {
  background-color: #ffbf00;
}

.laboratoria-color {
  background-color: #ffc107;
}

.black {
  background-color: #000;
}

.white {
  color: #fff;
}

.white-border {
  border: 1px solid #fff;
}

.font-weight {
  font-weight: 600;
}

/* Para la versión móvil */

/* Estilos del header */

/* Sobreescribiendo esta clase para que el color de fondo no sea el #f8f8f8 sino el blanco(#fff)*/
.navbar-default {
  background-color: #fff;
}

/* Sobreescribiendo la propiedad float del button que contiene mi ícono de las barras */
.navbar-toggle {
    float: left;
}

.padding{
    padding-top: 2.3em;
    padding-bottom: 4.3em;
    padding-left: 3.3em;
}
 /* Clase para que los contenedores para la versión móvil se muestren en el dispositivo y para que los de la versión desktop se oculten*/
.mobile-view {
  display: block;
}

.desktop-view {
  display: none;
}

/* Estilos de la primera sección */
.first-section {
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
}

/* La primera sección es un flex-container*/
.flex-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilos de la única caja de la sección y los elementos que encierra*/
.flex-box-item {
  width: 80vw;
  height: 37vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

 h1 {
    margin-top: 0;
    margin-bottom: -1.2em;
    margin-left: 1.3em;
}

.logo {
  width: 25%;
}

/* Estilos al botón de la Primera Sección */

/*Esta clase afecta a todos los botones de mi página*/

.btn {
  font-weight: 700;
  border: none;
}

.margin-btn {
  margin-left: 2.8em;
}

/* Estilos a la segunda Sección */

.second-section {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh
}

.second-section img {
  width: 49vw;
  margin-top: 0.3em;
}

/* Estilos al contenedor de la imagen del iPhone6 */

.cellphone-box {
  padding: 4em; /*2.5em 4em*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.5em; 
  margin-bottom: 2.5em;
  margin-left: 0.2em;
}

/* Estilos al contenedor que encierra al párrafo*/
.paragraph {
  width: 50vw;
  margin-bottom: -0.4em; 
  margin-left: -8em;
  padding-bottom: 0.7em; 
}

.paragraph p {
  margin: 0 0 12px;
}

/* Estilos a la tercera sección */

.third-section {
  background-image: url('../assets/images/conduce.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 65vh;
}

.black-like-background {
  background-color: rgba(0,0,0,0.5);
  height: 65vh;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.little-box {
  width: 85vw;
  margin-top: 5.7em;
}

.div-container h3 {
  margin-top: 0px;
  padding-top: 20px;
}

.line-height {
  line-height: 1.7;
}

.third-section p {
  font-size: 1.4em;
  margin-bottom: 0.8em;
  color: #fff;
}

/* Estilos a la cuarta sección */

.fourth-section {
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Estilos a la caja con los datos geográficos del usuario*/

.little-box-1 {
  height: 30vh;
  margin: 0 1.7em;
}

.little-box-1 p {
  font-size: 1.2em;
}

.border-radius {
  border-radius: 6px;
}

.h3-title {
  font-size: 20px;
}

/* Estilos a los íconos de esta sección*/

.icon-location {
  margin-right: 1em;
}

.icon-location img {
  padding-bottom: 1em;
}

/* Caja con la ubicación del usuario*/

.mini-box-1 {
  margin-bottom: 1em;
  margin-top: 2.4em;
}

.mini-box-1 form {
  display: inline-block;
}

/* Caja con la ubicación del sitio adonde quiere ir el usuario */

.mini-box-2 {
  margin-bottom: 3.3em;
}

.mini-box-2 form {
  display: inline-block;
}

.little-box-1 input {
  font-size: 1.1em;
  padding: 0.6em 0.5em;
  width: 70vw;
  outline: 0;
}

/* Estilos al botón de esta sección */

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 25px;
  border-radius: 4px;
}

/* Estilos a la imagen que muestra la ubicación del usuario*/

.little-box-2 {
  width: 90vw;
  padding: 0.8em;
  margin: 12em 0 4em 1.3em;
}

.little-box-2 img {
  cursor: pointer;
}

/* Estilos al footer */

.footer {
  padding: 1em 1.5em;
  font-size: 1.3em;
}

.logo-2 {
  width: 24vw;
}

.flex-container-3 {
  display: flex;
  justify-content: space-between;
}

.options-1 {
  line-height: 55px;
  padding-bottom: 0.9em;
  margin-right: 3em;
}

.medium-special-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 35px;
  margin-right: 3.7em;
}

.social-media {
  font-size: 0.95em;
  margin-bottom: 2.65em;
}

.social-media-icon {
  padding-right: 0.8em;
}

.image-download {
  width: 35vw;
}

.div-1 {
  margin-bottom: 1.5em;
}

.copyright {
  padding-top: 0.2em;
}

/* Media querie que utilizo para que en la cuarta sección no sobre tanto espacio a partir del breakpoint indicado */

@media (min-height: 730px) {
  .fourth-section {
    height: 100vh
  }

  .little-box-2 {
    margin: 13em 0 4em 1.3em;
  }

}

/* Para tablets y desktops de todos los tamaños */

/* Estilos para la versión tablet */

@media (min-width: 768px) {

  /* Clases generales */

  .zero-padding-container-fluid { /* Si le agrego la clase zero-padding al container fluid las secciones no ocupan todo el ancho de la pantalla(cuando revisas la versión para móviles), por eso lo estoy modificando directamente */
    padding-right: 0;
    padding-left: 0;
  }

  /* Clase para que los contenedores ocultos en la versión móvil se muestren en el dispositivo y para que los de la versión móvil se oculten*/
  .mobile-view {
    display: none;
  }
  
  .desktop-view {
    display: block;
  }

  /* Cambios de estilos al menú de navegación */

  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: 1em;
    margin-left: 3em;
  } 

  .navbar-nav>li>a {
    font-size: 1.2em;
  }

  .padding {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin {
    padding-top: 15px;
    padding-bottom: 7px;
  }

  .navbar-brand {
    margin-left: 4.5em;
    margin-top: 0.25em;
  }

  .margin-top {
    margin-top: 0px;
  }

  .navbar-right {
    margin-top: 0.5em;
    margin-right: 5em;
    font-size: 0.9em;
  }

  /* Estilos modificados de la primera sección*/

  .first-section {
    background-size: cover;
    background-position: bottom center;
  }

  .flex-box-item {
    padding-left: 2.2em;
    height: 40vh;
    width: 50vw;
  }

  h1 {
    margin-top: 20px;
    font-size: 2.1em;
    margin-bottom: 0.7em;
    margin-left: 0;
  }

  .travel {
    font-size: 1.35em;
  }

  .logo {
    width: 33%;
    margin-left: 0.8em;
  }

  .button-1 {
    font-size: 1.3em;
    margin-top: 1em;
  }

  /* Estilos al modal INICIA SESIÓN */

  .user-register-body {
    background-color: #1ABC9C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .fa-times-circle:before {
    margin-left: 28em;
    margin-right: 2em;
    color: #17A589;
    font-size: 1.3em;
  }

  .user-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .user-picture img {
    width: 40%;
  }

  .user-register-body hr {
    width: 100%;
  }

  .forms-1 {
    background-color: #F2F3F4;
    width: 60%;
    padding: 2em 1em;
    margin-bottom: 2.3em;
  }

  .form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    border: 1px solid #BFC9CA;
    border-radius: 4px;
    margin-right: 0;
    margin-left: 0;
  }

  .icon-modal-1 {
    border-left: 1px solid #BFC9CA;
    background-color: #D7DBDD;
    padding-bottom: 7px;
  }

  .input-div {
    padding-left: 0px;
    padding-right: 0px;
  }

  .forms-1 input {
    font-size: 1.01em;
  }

  .username {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-modal {
    padding: 9px 20px;
    font-size: 1em;
    margin: 0.7em;
  }

  .new-password {
    font-size: 1em;
  }

  .new-password span {
    background-color: transparent;
    font-size: 1em;
  }

  .new-password a {
    color: #E74C3C;  
  }

  .button-2 {
    font-size: 1.3em;
    margin-bottom: 1em;
  }

  /* Estilos a las nuevas clases de esta sección */

  .option {
    margin-top: 1em;
  }

  .option hr {
    display: inline-block;
    width: 10rem;
  }

  .option span {
    display: inline-block;
    position: relative;
    bottom: 2em;
    margin: 0 3em 1em;
  }

  /* Estilos modificados de la segunda sección */

  .second-section {
    display: block;
    font-size: 1.4em;
    height: 60vh;
    padding-right: 0;
    padding-left: 0;
  }

  .flex-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .cellphone-box {
    width: 87vw;
    height: 48vw;
    padding-right: 1em;
    padding-left: 1.5em;
    padding-top: 6.5rem;
    padding-bottom: 1rem;
    border-left: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0em; 
    margin-bottom: 0em;
    margin-left: 0em;
  }

  .second-section img {
    width: 28vw;
    margin-top: 0;
    margin-left: 2.2em;
    margin-right: 2.3em;
  }

  .paragraph {
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0;
    line-height: 1.5;
    position: static;
  }

  .paragraph h3 {
    margin-bottom: 1em;
  }

  /* Estilos modificados de la tercera sección */

  .third-section {
    height: 45vh;
    background-size: cover;
  }

  .black-like-background {
    height: 50vh;
    width: 45vw;
  }

  .line-height {
    line-height: 1.7;
  }

  .third-section p {
    font-size: 1.35em;
    margin-bottom: 0.85em;
  }

  .flex-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .div-container {
    padding: 5.5em 3em 6em;
  }

  /* Estilos modificados de la cuarta sección */

  .fourth-section {
    height: 50vh;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 4em;
  }

  .little-box-1 {
    margin: 0 3.8em;
  }

  .h3-title {
    font-size: 22px;
  }

  .little-box-1 p {
    font-size: 1.1em;
  }

  .little-box-1 input {
    width: 30vw;
  }

  .little-box-2 {
    width: 43vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2em;
  }

  .button-4 {
    font-size: 1.1em;
  }
  
  /* Estilos modificados del footer */

  .footer {
    padding: 5em 5.5em;
    font-size: 1.05em;
  }

  .logo-2 {
    width: 15%;
  }

  .flex-container-3 {
    display: flex;
    justify-content: space-between;
  }

  .social-media {
    display: flex;
    align-items: flex-end;
  }

  .social-media-icon {
    padding-right: 0.8em;
  }

  .options-1, .options-2 {
    line-height: 45px;
    margin-left: 5em;
  }

  .options-2 {
    margin-right: 3em;
  }

  .download {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 7em;
  }

  .image-download {
    min-width: 147px;
    width: 85%;
    margin-top: 1.3em;
  }

  .copyright {
    padding-top: 0.25em;
  }

}

/* Para dispositivos de esta anchura a menos, el contenedor de la segunda sección Descarga el app estaba pegado a la parte inferior de dicha sección. Para solucionarlo, se creó este media querie */

  @media (max-width: 920px) {
    .paragraph {
      position: relative;
      bottom: 1.7em;
    }
  }

  /* Estilos para la página cuando se visualize en desktops más pequeñas o laptops */

  @media (min-width: 992px) {

    /* Clases generales */

     /* Clase para que los contenedores ocultos en la versión móvil se muestren en el dispositivo y para que los de la versión móvil se oculten*/

    .mobile-view {
      display: none;
    }
    
    .desktop-view {
      display: block;
    }

    /* Otras clases generales */

    h3 {
      font-size: 25px;
    }

    /* Estilos modificados del menú de navegación */

    .navbar-right {
      margin-right: 7em;
      font-size: 0.98em;
    }

    /* Estilos modificados de la primera sección */

    .flex-box-item {
      width: 40vw;
      padding-left: 3em;
    }

    .travel {
      font-size: 1.4em;
    }

    .logo {
      width: 38%;
      margin-left: 0.8em;
    }

    .option span{ 
      font-size: 1.1em;
    }

    .button-1 {
      font-size: 1.3em;
    }

    .button-2 {
      font-size: 1.4em;
    }

    /* Estilos modificados de la segunda sección */

    .second-section {
      font-size: 1.55em;
    }

    .second-section img {
      width: 26vw; 
    }

    .cellphone-box {
      height: 48vh;
      padding-top: 9rem;
    }

    .paragraph {
      position: static;
      margin-right: 3em;
    }

    /* Estilos modificados de la tercera sección */

    .black-like-background {
      width: 40vw;
    }

    .div-container {
      padding: 5.5em 2.5em 6em;
    }

    .line-height {
      line-height: 1.8;
    }

    .third-section p {
      font-size: 1.5em;
      margin-bottom: 0.9em;
    }

    .button-3 {
      font-size: 1.4em;
    }

    /* Estilos modificados de la cuarta sección */

    .little-box-2 {
      overflow: hidden;
    }

    .h3-title {
      font-size: 25px;
    }

    .little-box-1 p {
      font-size: 1.4em;
    }

    .little-box-1 input {
      font-size: 1.3em;
    }

    .button {
      padding: 12px 28px;
      font-size: 1.2em;
    }

    /* Estilos modificados al footer */

    .footer {
      font-size: 1.15em;
    }

    .options-1, .options-2 {
      margin-left: 6em;
    }

    .options-2 {
      margin-right: 6em;
    }
  }

  /* Estilos para la página cuando se visualize en dispositivos más grandes */

  @media (min-width: 1200px) {

    /* Clases generales */

    /* Clase para que los contenedores ocultos en la versión móvil se muestren en el dispositivo y para que los de la versión móvil se oculten*/

    .mobile-view {
      display: none;
    }
    
    .desktop-view {
      display: block;
    }

    /* Otras clases */

    h3 {
      font-size: 26px;
    }

    /* Estilos modificados al menú de navegación */

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 9.2em;
    }

    .navbar-right {
      font-size: 1.05em;
      margin-right: 7.5em;
    }


    /* Estilos modificados de la primera sección */

    .flex-box-item {
      font-size: 1.1em;
      padding-left: 4em;
      width: 38vw;
    }

    h1 {
      font-size: 2.15em;
    }

    .travel {
      font-size: 1.45em;
    }

    .option span {
      font-size: 1.2em;
    }

    .logo {
      width: 40%;
    }

    /* Estilos modificados de la segunda sección */

    .second-section {
      font-size: 1.63em;
    }

    .cellphone-box {
      width: 80vw;
      margin-bottom: 1em;
    }

    .second-section img {
      width: 33%;
      position: relative;
      bottom: 1.5em;
    }

    .paragraph {
      margin-left: 5em;
    }

    /* Estilos modificados de la tercera sección*/

    .black-like-background {
      width: 38vw;
    }

    /* Estilos modificados de la cuarta sección */

    .little-box-1 {
      margin: 0 6.45em 0 6.7em;
    }

    .h3-title {
      font-size: 26px;
    }

    .little-box-1 p {
      font-size: 1.5em;
    }

    .little-box-1 input {
      font-size: 1.4em;
    }

    .little-box-2 {
      margin-left: 0.3em;
    }

    .little-box-2 img {
      max-width: 538px;
    }

    /* Estilos modificados de la cuarta sección */

    .footer {
      font-size: 1.25em;
    }

    .logo-2 {
      width: 12%;
    }

    .options-1, .options-2 {
      line-height: 45px;
      margin-left: 5.9em;
    }

    .options-2 {
      margin-right: 5em;
    }
  }

  /* Hay estilos que no se veian bien en dispositivos de 1550 para delante, así que tuve que crear esta media querie para modificarlos */

  @media (min-width: 1550px) {

    /* Estilos de la primera sección */

    .flex-box-item {
      width: 30vw;
      padding-left: 4em;
    }

    /* Estilos de la segunda sección */

    .cellphone-box {
      padding-left: 6.5em;
      overflow: hidden;
    }

    .second-section img {
      width: 25%;
      position: relative;
      bottom: 2.5em;
    }

    .paragraph {
      margin-left: 4em;
      margin-right: 9em;
    }

    /* Estilos modificados del footer */

    .logo-2 {
      width: 10%;
    }

    .options-1, .options-2 {
      margin-left: 2em;
    }
  
    .options-2 {
      margin-right: 2em;
    }    
  }